{% extends 'base.html.twig' %}

{% block title %}
    About
{% endblock %}

{% block body %}
    <h1>About</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet at atque corporis deleniti doloremque facilis impedit mollitia odio officia officiis quam quasi, sit suscipit ut vel velit voluptatem voluptatibus.
    </p>
{% endblock %}

