{% extends 'base.html.twig' %}

{% block body %}
    <h1>Home</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi delectus deleniti, dolore dolores harum, ipsum, iure laborum minima modi nisi odio quibusdam quo repellendus repudiandae sit tenetur ut voluptates. Rem!
    </p>
{% endblock %}

{% block title 'Home' %}

