<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="turbo-cache-control" content="no-preview">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <style>
                .alert-success {
                    color: green;
                    font-weight: bold;
                }
            </style>
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
            <script type="module" src="https://cdn.skypack.dev/@hotwired/turbo"></script>
{#            <script>#}
{#                document.addEventListener("turbo:before-cache", function () {#}
{#                    document.querySelectorAll('.alert-success').forEach(el => el.remove());#}
{#                    document.querySelectorAll('div#contact form > div > ul').forEach(el => el.remove());#}
{#                })#}
{#            </script>#}
        {% endblock %}
    </head>
    <body>
        {{ include('partial/nav.html.twig') }}
        <hr>
        <main role="main">
            {{ include('partial/_flash_message.html.twig') }}
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
