{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contact</h1>
    <div id="contact">
        {{ include('messages/_form.html.twig') }}
    </div>
{% endblock %}

{% block title %}
    Contact
{% endblock %}
